<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>A</string>
		<key>pattern</key>
		<string>71</string>
		<key>matcher</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>B</string>
		<key>pattern</key>
		<string>260123401234</string>
		<key>matcher</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>C</string>
		<key>pattern</key>
		<string>43210</string>
		<key>matcher</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>D</string>
		<key>pattern</key>
		<string>26701234</string>
		<key>matcher</key>
		<string>dMatch:</string>
	</dict>
	<dict>
		<key>name</key>
		<string>E</string>
		<key>pattern</key>
		<string>4321043210</string>
		<key>matcher</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>F</string>
		<key>pattern</key>
		<string>42</string>
		<key>matcher</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>G</string>
		<key>pattern</key>
		<string>432107650</string>
		<key>matcher</key>
		<string>gMatch:</string>
	</dict>
	<dict>
		<key>name</key>
		<string>H</string>
		<key>pattern</key>
		<string>267012</string>
		<key>matcher</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>I</string>
		<key>pattern</key>
		<string>2</string>
		<key>matcher</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>J</string>
		<key>pattern</key>
		<string>234</string>
		<key>matcher</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>K</string>
		<key>pattern</key>
		<string>3456701</string>
		<key>matcher</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>L</string>
		<key>pattern</key>
		<string>20</string>
		<key>matcher</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>M</string>
		<key>pattern</key>
		<string>6172</string>
		<key>matcher</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>N</string>
		<key>pattern</key>
		<string>616</string>
		<key>matcher</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>O</string>
		<key>pattern</key>
		<string>432107654</string>
		<key>matcher</key>
		<string>oMatch:</string>
	</dict>
	<dict>
		<key>name</key>
		<string>P</string>
		<key>pattern</key>
		<string>26701234</string>
		<key>matcher</key>
		<string>pMatch:</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Q</string>
		<key>pattern</key>
		<string>4321076540</string>
		<key>matcher</key>
		<string>qMatch:</string>
	</dict>
	<dict>
		<key>name</key>
		<string>R</string>
		<key>pattern</key>
		<string>267012341</string>
		<key>matcher</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>S</string>
		<key>pattern</key>
		<string>432101234</string>
		<key>matcher</key>
		<string>sMatch:</string>
	</dict>
	<dict>
		<key>name</key>
		<string>T</string>
		<key>pattern</key>
		<string>02</string>
		<key>matcher</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>U</string>
		<key>pattern</key>
		<string>21076</string>
		<key>matcher</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>V</string>
		<key>pattern</key>
		<string>17</string>
		<key>matcher</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>W</string>
		<key>pattern</key>
		<string>2716</string>
		<key>matcher</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>X</string>
		<key>pattern</key>
		<string>1076543</string>
		<key>matcher</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Y</string>
		<key>pattern</key>
		<string>21076234567</string>
		<key>matcher</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Z</string>
		<key>pattern</key>
		<string>030</string>
		<key>matcher</key>
		<string></string>
	</dict>
</array>
</plist>
